* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fafafa;
  /*font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: "Lato", Georgia;
  color: #333;
  -webkit-font-smoothing:antialiased;
  font-size: 16px;
  line-height: inherit;
  line-height: 1;
}

.color.white{
	color:#FFFFFF;
}
.light{
	font-weight: 300;
	font-size: 48px;
	color:#FFFFFF;
	font-family: "LatoLight", Georgia;
}
p.light{
	font-weight: 300;
	font-size: 25px;
	color:#FFFFFF;
}
.btn-success,.btn-danger{
	margin: 0;
	border-radius: 0;
}

.login.btn-success{
	margin: 0 0.29em;
	border-radius: 3px;
}
.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}