<title>{{ site.name }}</title>
<meta name="description" content="Fries: Prototype Android apps using HTML, CSS, and JavaScript.">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="shortcut icon" href="favicon.png">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic" type="text/css">
<link rel="stylesheet" href="dist/themes/holo-dark/holo-dark.min.css">
<link rel="stylesheet" href="docs/css/documentation.css">
<link rel="stylesheet" href="docs/css/prettify.css">
