* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 16px;
}

body {
    background: #fafafa;
    /*font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Lato", Georgia;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: inherit;
    line-height: 1;
}

paper-item > .label {
    display: block;
    padding: 0;
    font-weight: inherit;
    line-height: inherit;
    color: #333;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
}

.toolbar-tools.paper-toolbar > .title, .toolbar-tools.paper-toolbar [select=".middle"] > .title, .toolbar-tools.paper-toolbar [select=".bottom"] > .title {
    margin-left: 10px !important;
}

.toolbar-tools.paper-toolbar paper-icon-button[icon=menu] {
    margin-right: 0px !important;
}

.color.white {
    color: #FFFFFF;
}

.light {
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    font-family: "Lato", Georgia;
}

p.light {
    font-weight: 300;
    font-size: 25px;
    color: #FFFFFF;
}

.btn-success, .btn-danger {
    margin: 0;
    border-radius: 0;
}

.login.btn-success {
    margin: 0 0.29em;
    border-radius: 3px;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

paper-item.active {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.shadow {
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.50) !important;
    -moz-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.50) !important;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.50) !important;
}

.main-content {
    background-image: url(../images/cloud_start_top.svg);
    background-position: bottom; /*left top, right bottom*/
    background-repeat: no-repeat;
    background-size: contain;
}

.description-content {
    background-image: url(../images/cloud_end_top.svg), url(../images/background_lamp.jpg);
    background-position: top, left; /*left top, right bottom*/
    background-repeat: no-repeat;
    background-size: contain, cover;
    padding-top: 200px;
}

.everhome-background {
    background: url(../images/axiom-pattern_black_blue.png);
}

#footer-container {
    margin-top: 150px;
}

.footer-content {
    background-image: url(../images/cloud_start_footer.svg);
    background-color: #FFFFFF;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-dialog {
    background-color: white;
    position: fixed;
    top: 40px;
    right: 16px;
}

#account-dialog {
    background-color: white;
    position: fixed;
    top: 40px;
    right: 16px;
}

#help-dialog {
    background-color: white;
    position: fixed;
    top: 40px;
}

#topBar > paper-item {
    font-size: 20px;
    font-family: "Lato", Georgia;
    opacity: 0.8;
}

paper-item > .label.white {
    color: white;
}

paper-dialog > paper-input {
    margin-top: 0;
}

/*Responsive Toolbar*/
.toolbar-item {
    display: block;
}

#paperToggle {
    display: none;
}

@media (max-width: 1300px) {
    #paperToggle {
        display: block !important;
    }

    #topBar > paper-item {
        opacity: 1;
        font-weight: bold;
    }

    .toolbar-item {
        display: none !important;
    }
}

#logo{
    height: 50px !important;
    width: 50px !important;
}